@model AutoRSN.Models.Email
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">Master Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">EMAIL EDIT</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ib topbar-dropdown">

        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
    <div class="pl15 pr50">
        @if (TempData["Message"] != null)
            {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @using (Html.BeginForm("Edit", "Email", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.CUSTOMERCODE)
            @Html.HiddenFor(model => model.EMAILID)
            @Html.HiddenFor(model => model.SERVERID)

            <div class="alert alert-danger dark alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">CUSTOMER # :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.DropDownListFor(m => m.CUSTOMERCODE, new SelectList(Model.ListOfCustomer, "CUSTOMERCODE", "CUSTOMERNAME"), new { @class = "form-control", @disabled = "disabled" })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">EMAIL TITLE :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.TextBoxFor(model => model.EMAILTITLE, new { @class = "form-control", @readonly = "readonly" })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">ATTENTION NAME :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.TextBoxFor(model => model.ATTENTIONNAME, new { @class = "form-control" })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">EMAIL TO :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.TextAreaFor(model => model.EMAILTO, new { @class = "form-control" })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">EMAIL CC :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.TextAreaFor(model => model.EMAILCC, new { @class = "form-control" })</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">STATUS :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.DropDownListFor(m => m.STATUS, new SelectList(Model.ListOfStatus, "Value", "Text"), new { @class = "form-control" })</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <input type="submit" class="btn btn-bordered btn-success w150" value="Update" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-bordered btn-dark w150" })
                </div>
            </div>

        }
    </div>
    <!-- -------------- /Column Center -------------- -->
</section>