@model AutoRSN.Models.Server

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">System Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">SERVER DETAILS</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ib topbar-dropdown">
           
        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
    <div class="pl15 pr50">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">SERVER :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.SERVER)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">STATUS :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@(Model.STATUS.ToString()=="Y" ? "ACTIVE" : "INACTIVE")</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">MODIFIED BY :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.MODIFIEDBY)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">MODIFIED ON :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.MODIFIEDON)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">CREATED BY :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.CREATEDBY)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">CREATED ON :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.CREATEDON)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    @Html.ActionLink("Edit", "Edit", new { ServerId = Model.SERVERID }, new { @class = "btn btn-bordered btn-success w150" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-bordered btn-dark w150" })
                </div>
            </div>
        </form>
    </div>
    <!-- -------------- /Column Center -------------- -->
</section>

