@model AutoRSN.Models.StorageCode

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- -------------- Topbar -------------- -->

<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">Master Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">Edit Storage Type</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ib topbar-dropdown">

        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
@try
{
    if (Session["Level"].ToString().Equals("1"))
    {

    }

    <div class="pl15 pr50">
        @if (TempData["Message"] != null)
            {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        @using (Html.BeginForm("Edit", "StorageType", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()

            <div class="alert alert-danger dark alert-dismissable" style="display:@(this.ViewData.ModelState.IsValid ? "none" : "")">
                @Html.ValidationSummary()
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label">Storage Location :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.TextBoxFor(model => model.bin, new { @class = "form-control" })</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">StorageType :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.TextBoxFor(model => model.storageType, new { @class = "form-control" })</p>
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label">PutAway :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.CheckBoxFor(model => model.isputaway)</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">Inventory :</label>
                <div class="col-lg-8">
                    <p class="form-control-static"> @Html.CheckBoxFor(model => model.isinventory)</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <input type="submit" class="btn btn-bordered btn-success w150" value="Save" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-bordered btn-dark w150" })
                </div>
            </div>

        }
    </div>


        }
        catch (Exception ex)
        {
            <script type="text/javascript">
                                        alert('@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")' + '\n' + 'Session Timeout');
                                        location.href = '/AutoRSN';
                                        //alert('Session Timeout');
            </script>
        }


    <!-- -------------- /Column Center -------------- -->
</section>


