@model List<AutoRSN.Models.StorageCode>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">

    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">Master Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">USER</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ml15 ib va-m" id="sidebar_right_toggle">
            <div class="navbar-btn btn-group btn-group-number mv0">
                <button class="btn btn-sm btn-default btn-bordered prn pln">
                    <i class="fa fa-search fs22 text-default w"></i>
                </button>
            </div>
        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
@try
{
    if (Session["Level"].ToString().Equals("1"))
    {

    }
    <!-- -------------- Column Center -------------- -->
    <div class="chute chute-center">
        @{
            @*if (Convert.ToInt32(Session["UserLevel"]) == 1 | Convert.ToInt32(Session["UserLevel"]) == 2)
            {

                <div class="alert alert-danger" style="float: none;" role="alert">
                    <b>Your Account doesn't have this priviledge..</b>
                </div>
            }*@


            if (!Convert.ToString(Session["UserId"]).Contains("my14044528") & !Convert.ToString(Session["UserId"]).Contains("my14041159"))
            {

                <div class="alert alert-danger" style="float: none;" role="alert">
                    <b>Your Account doesn't have this priviledge..</b>
                </div>
            }

            else
            {

                if (TempData["Message"] != null)
                {
                    <div class="alert alert-success" style="float: none;" role="alert">
                        <b>@TempData["Message"]</b>
                    </div>
                }
                <div class="col-md-push-12">
                    <div class="panel panel-visible" id="PanelGridCustomer">
                        <div class="panel-heading">
                            <div class="panel-title hidden-xs">
                                Storage Type Master List
                            </div>
                        </div>
                        <div class="panel-body pn">
                            <div class="panel-title">
                                @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-bordered btn-dark w150" })
                            </div>
                        </div>
                        <div class="panel-body pn">
                            <div class="table-resp nsive">
                                <table class="table table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>

                                            <th class="va-m">NO: </th>
                                            <th class="va-m">STORAGE TYPE</th>
                                            <th class="va-m">ACTION</th>
                                          
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td> @Html.DisplayFor(modelItem => item.no) </td>
                                                <td> @Html.DisplayFor(modelItem => item.storageType) </td>
                                                <td>
                                                    @Html.ActionLink("Delete", "DeleteConfirmation", new { storagetype = item.storageType }, new { @class = "btn btn-sm btn-default btn-bordered prn pln fa fs18 text-default" }) <span> | </span>
                                                @Html.ActionLink(" ", "Edit", new { strageType = item.storageType }, new { @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-search fs22 text-default w50" })
                                            </td>
</tr>
                                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                                                        }

        }

    </div>

            }
            catch (Exception ex)
            {
                <script type="text/javascript">
                                alert('@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")' + '\n' + 'Session Timeout');
                                location.href = '/AutoRSN';
                                //alert('Session Timeout');
                </script>
            }
</section>




<!-- -------------- Sidebar Right -------------- -->
<aside id="sidebar_right" class="nano affix">
    <!-- -------------- Sidebar Right Content -------------- -->
    <div class="sidebar-right-wrapper nano-content">
        <div class="sidebar-block br-n p15">
            <form role="form" action="" method="post">
                <!-- -------------- Menu Block -------------- -->
                <div class="allcp-form theme-primary">

                    <h5 class="pln"> Filter Users</h5>

                    <h6 class="mb15"> By User Name or Full Name :</h6>

                    <div class="section mb20">
                        <input type="text" name="FilterByCCMG" id="FilterByCCMG" class="gui-input" placeholder="Enter filter User Name or Full Name here...">
                    </div>

                    <hr class="short">

                    <div class="section">
                        <button type="submit" class="btn btn-dark pull-right ph30">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>
<!-- -------------- /Sidebar Right -------------- -->