@model List<AutoRSN.Models.CustomerGroup>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">Master Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">CUSTOMER GROUP</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ml15 ib va-m" id="sidebar_right_toggle">
            <div class="navbar-btn btn-group btn-group-number mv0">
                <button class="btn btn-sm btn-default btn-bordered prn pln">
                    <i class="fa fa-search fs22 text-default"></i>
                </button>
            </div>
        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
@try
{
    if (Session["Level"].ToString().Equals("1"))
    {

    }
    <script type="text/javascript">
        function editLine(lineid,custgroupid)
        {
            var custgroup = String($('#' + custgroupid).html()).trim();
            var qty = prompt("Enter RSN Line Quantity for " + custgroup + " : ", String($('#' + lineid).html()).trim());

            if(parseInt(qty)>5)
            {
                alert('cannot exceed maximum of 5 items');
            }

            else
            {
                $.ajax({
                    type: "GET",
                    url: "http://myodcweb/GoogleData/webservice.asmx/EditLineQty",
                    data: 'lineqty=' + String(qty).trim() + '&custGroup=' + custgroup, // the data in form-encoded format, ie as it would appear on a querystring
                    //contentType: "application/x-www-form-urlencoded; charset=UTF-8", // if you are using form encoding, this is default so you don't need to supply it
                    dataType: "text", // the data type we want back, so text.  The data will come wrapped in xml
                    async: false,
                    success: function (data) {
                        if (data == "true") {
                            $('#' + lineid).html(qty);
                            alert("RSN item quantity updated for " + custgroup);
                        }
                        else
                            alert("error updating line item..");
                    },
                    error: function (xhr, textStatus, error) {
                        alert(textStatus + ":" + error);
                    }
                });

            }
    
        }
    </script>

    <!-- -------------- Column Center -------------- -->
    <div class="chute chute-center">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }

@{
    if (Session["Level"].ToString().Equals("1"))
    {
        <div class="alert alert-danger" style="float: none;" role="alert">
            <b>Your Account doesn't have this priviledge..</b>
        </div>
    }

    else
    {
        <div class="col-md-push-12">
            <div class="panel panel-visible" id="PanelGridItemNotes">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        CUSTOMER GROUP MASTER LIST
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="panel-title">
                        @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-bordered btn-dark w150" })
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="va-m">No.</th>
                                    <th class="va-m">Customer Group Name </th>
                                    <th class="va-m">RSN Item Max QTY</th>
                                    <th class="va-m">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    int count = 0;
                                    foreach (var item in Model)
                                    {
                                        count++;
                                             <tr>
                                        <td> <span> @count </span> </td>
                                        <td id="@("custName"+count)"> @Html.DisplayFor(modelItem => item.CUSTOMERNAME) </td>
                                         <td id="@("rsnItem"+count)">
                                             @Html.DisplayFor(modelItem => item.LINECOUNT)
                                                        
                                        </td>
                                        <td>
                                            @{
// @Html.ActionLink(" ", "EditCustomer", new { CustomerCode = item.CUSTOMERCODE, MaterialGroup = item.MATERIALGROUP }, new { @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-edit fs22 text-default w50" }) |
                                            }
                                          
                                            @Html.ActionLink(" ", "ViewAndEdit", new { customerGroup = item.CUSTOMERNAME }, new { @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-search fs22 text-default w50" }) | 
                                            @Html.ActionLink(" ", "DeleteConfirmation", new { customerGroup = item.CUSTOMERNAME }, new { @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-edit fs22 text-default w50" }) |
                                            <input type="button" onclick='editLine("@("rsnItem"+count)","@("custName"+count)")' value="Edit Qty" />
                                         </td>
                                    </tr>
                                                }

                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                                                    }
                                                }
    </div>

                                                }
                                                catch (Exception ex)
                                                {
                                                    <script type="text/javascript">
                                alert('@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")' + '\n' + 'Session Timeout');
                                location.href = '/AutoRSN';
                                //alert('Session Timeout');
                                                    </script>
                                                }

</section>

<!-- -------------- Sidebar Right -------------- -->
<aside id="sidebar_right" class="nano affix">
    <!-- -------------- Sidebar Right Content -------------- -->
    <div class="sidebar-right-wrapper nano-content">
        <div class="sidebar-block br-n p15">
            <form role="form" action="" method="post">
                <!-- -------------- Menu Block -------------- -->
                <div class="allcp-form theme-primary">

                    <h5 class="pln"> Filter Reasons</h5>

                    <h6 class="mb15"> By Reason :</h6>

                    <div class="section mb20">
                        <input type="text" name="FilterByReason" id="FilterByReason" class="gui-input" placeholder="Enter filter reason here...">
                    </div>

                    <hr class="short">

                    <div class="section">
                        <button type="submit" class="btn btn-dark pull-right ph30">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>
<!-- -------------- /Sidebar Right -------------- -->