@model AutoRSN.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">Master Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">CUSTOMER DETAILS</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ib topbar-dropdown">
        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
@try
{
    if (Session["Level"].ToString().Equals("1"))
    {

    }
    <div class="pl15 pr50">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">CUSTOMER # :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.CUSTOMERCODE)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">MATERIAL GROUP :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.MATERIALGROUP)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">CUSTOMER NAME :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.CUSTOMERNAME)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">ADDRESS 1 :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.ADDRESS1)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">ADDRESS 2 :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.ADDRESS2)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">POSTCODE :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.POSTCODE)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">REGION :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.REGION)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">COUNTRY :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.COUNTRY)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">FORWARDER :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.FORWARDER)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">ATTENTION NAME :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.ATTNNAME)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Attention Contact No :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.ATTNCONTACTNO)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">STATUS :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@(Model.STATUS.ToString() == "Y" ? "ACTIVE" : "INACTIVE")</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">MODIFIED BY :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.MODIFIEDBY)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">MODIFIED ON :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.MODIFIEDON)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">CREATED BY :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.CREATEDBY)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">CREATED ON :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.CREATEDON)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    @Html.ActionLink("Edit", "EditCustomer", new { CustomerCode = Model.CUSTOMERCODE, MaterialGroup = Model.MATERIALGROUP }, new { @class = "btn btn-bordered btn-success w150" }) |
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-bordered btn-dark w150" })
                </div>
            </div>
        </form>
    </div>


}
catch (Exception ex)
{
    <script type="text/javascript">
                                alert('@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")' + '\n' + 'Session Timeout');
                                location.href = '/AutoRSN';
                                //alert('Session Timeout');
    </script>
}
    <!-- -------------- /Column Center -------------- -->
</section>
