@model AutoRSN.Models.Openso
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">RSN Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">RSN DETAILS</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ib topbar-dropdown">
        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">

@try
{
    if (Session["Level"].ToString().Equals("1"))
    {

    }


    <div class="pl15 pr50">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">RSN # :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.RSNNO)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Customer Name :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.KUNNR1)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">CLS Part # :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.MATNR)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">PO # :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.BSTNK)</p>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-lg-3 control-label">Sales Order # :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.VBELN)</p>
                </div>
            </div>    
            <div class="form-group">
                <label class="col-lg-3 control-label">Delivery Date :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.EDATU)</p>
                </div>
            </div>    
            <div class="form-group">
                <label class="col-lg-3 control-label">Ship Quantity :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@Html.DisplayFor(model => model.SHIPQTY)</p>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-lg-3 control-label">Shipment: </label>
                <div class="col-lg-8">
                    @{
                        if (Convert.ToInt32(Model.OPENQTY) <= Convert.ToInt32(Model.SHIPQTY))
                        {

                            <p class="form-control-static">FULL</p>
                        }
                        else if (Convert.ToInt32(Model.OPENQTY) > Convert.ToInt32(Model.SHIPQTY))
                        {

                            <p class="form-control-static">PARTIAL</p>
                        }


                    }

                </div>
            </div>
   
            <div class="form-group">
                <label class="col-lg-3 control-label">STATUS :</label>
                <div class="col-lg-8">
                    <p class="form-control-static">@(Model.STATUS.ToString() == "Y" ? "ACTIVE" : "INACTIVE")</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">MODIFIED BY :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.MODIFIEDBY)</p>
                </div>
            </div>

            @{
               
                 if (Model.MODIFIEDON.ToString().Contains("1/1/0001 12:00:00 AM"))
                    {

                        <div class="form-group">
                            <label class="col-lg-3 control-label">MODIFIED ON :</label>
                            <div class="col-lg-8">
                                <p class="form-control-static text-muted"></p>
                            </div>
                        </div>

                    }

                

                else
                {
                    <div class="form-group">
                        <label class="col-lg-3 control-label">MODIFIED ON :</label>
                        <div class="col-lg-8">
                            <p class="form-control-static text-muted">@Html.DisplayFor(model => model.MODIFIEDON)</p>
                        </div>
                    </div>

                }



            }
          

            <div class="form-group">
                <label class="col-lg-3 control-label">UPLOADED ON :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.CREATEDON)</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">RSN CREATED BY :</label>
                <div class="col-lg-8">
                    <p class="form-control-static text-muted">@Html.DisplayFor(model => model.CREATEDBY)</p>
                </div>
            </div>
            @{

                if (Model.GENERATEDON.ToString().Contains("1/1/0001 12:00:00 AM"))
                {


                    <div class="form-group">
                        <label class="col-lg-3 control-label">RSN CREATED ON :</label>
                        <div class="col-lg-8">
                            <p class="form-control-static text-muted"></p>
                        </div>
                    </div>

                }

                else
                {

                    <div class="form-group">
                        <label class="col-lg-3 control-label">RSN CREATED ON :</label>
                        <div class="col-lg-8">
                            <p class="form-control-static text-muted">@Html.DisplayFor(model => model.GENERATEDON)</p>
                        </div>
                    </div>

                }



            }

            <div class="form-group">
                <label class="col-lg-3 control-label"></label>
                <div class="col-lg-8">
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-bordered btn-dark w150" })
                </div>
            </div>
        </form>
    </div>


                        }
                        catch (Exception ex)
                        {
                            <script type="text/javascript">
                                alert('@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")' + '\n' + 'Session Timeout');
                                location.href = '/AutoRSN';
                                //alert('Session Timeout');
                            </script>
                        }

    <!-- -------------- /Column Center -------------- -->
</section>
