@model List<List<AutoRSN.Models.Openso>>



<head> <script>
   // location.href = "/Openso/Index";
    </script>
    <script src="~/Scripts/GenerateRSN.js"></script> <!-- custom script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            alert("ZVDOPGI file download, the file has been sent to your email separately. press ok");
            var url = '/AutoRSN/Openso/DownloadReport';
            try{

                window.location.href = url ;
            }
            catch (err) {

                alert(err);
            }
           

        });
        

    </script>x
    </head>


<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
@try
{
    if (Session["Level"].ToString().Equals("1"))
    {

    }
    <!-- -------------- Column Center -------------- -->
    <div class="chute chute-center">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        <div class="col-md-push-12">
            <div class="panel panel-visible" id="PanelGridCustomer">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                       
                       @Html.DisplayFor(count => Model.Count) RSN Generated
                    </div>  
                </div>
  
                <section id="content" class="table-layout animated fadeIn">
               
                </section>

                <div class="panel-body pn">
                    <form role="form" action="" method="post">

                                    <!-- -------------- from Opensocontroller -------------- -->
                                    @for (int x = 0; x < Model.Count; x++)
                                    {
                                        <div class="alert alert-success" style="float: none;margin-bottom: 1px;height: 30px; line-height:30px; padding:0px 15px;" role="alert">
                                            <b style="align-content:center"> For RSN NO : @Model.ElementAt(x).ElementAt(0).RSNNO</b>
                                            <text>&nbsp;</text> <a style="color:navy;" href="/AutoRSN/RSNPrintOut.aspx?reportNum=@x&RSNNO=@Model.ElementAt(x).ElementAt(0).RSNNO" target="_blank">Show Report</a>

                                        </div>
                                        <table class="table table-hover table-bordered" id="datatable@x" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th class="va-m">RSN #</th>
                                                    <th class="va-m">Customer Name</th>
                                                    <th class="va-m">CLS Part #</th>
                                                    <th class="va-m">PO #</th>
                                                    <th class="va-m">Sales Order #</th>
                                                    <th class="va-m">Delivery Date</th>
                                                    <th class="va-m">Status</th>
                                                
                                                </tr>
                                            </thead>

                                            @foreach (var item in Model.ElementAt(x))
                                            {  
                                                <tbody>
                                                    <tr>
                                                        <td> @Html.DisplayFor(modelItem => item.RSNNO) </td> <!--  rsn no-->
                                                        <td> @Html.DisplayFor(modelItem => item.KUNNR1) </td> <!-- cust name -->
                                                        <td> @Html.DisplayFor(modelItem => item.MATNR) </td> <!-- cls part  -->
                                                        <td> @Html.DisplayFor(modelItem => item.BSTNK) </td> <!-- po -->
                                                        <td> @Html.DisplayFor(modelItem => item.VBELN) </td> <!-- sales order  -->
                                                        <td> @Html.DisplayFor(modelItem => item.EDATU) </td> <!-- delivery date -->


                                                        @if (item.STATUS == "Y")
                                                        {
                                                            <td class="bg-light"> ACTIVE </td>}
                                                        else {
                                                            <td class="bg-danger"> INACTIVE </td> }
                                                       
                                                    </tr>

                                                </tbody>

                                            }
                                        </table>
                                        <br />
                                        @Html.Hidden("val", 0)


                                        //string currentUrl = AutoRSN.Utility.Util.virtualPath();
                                       // <input type="button" id="@x" onclick="window.open('/AutoRSN/RSNPrintOut.aspx?reportNum=@x&RSNNO=@Model.ElementAt(x).ElementAt(0).RSNNO','_blank');" value="Show Report" />

                                    <br />
                                    }


</form>
                </div>
            </div>
        </div>
    </div>

    }
    catch (Exception ex)
    {
        <script type="text/javascript">
                                    alert('@ex.Message.Replace("'","\\'").Replace("\r\n","<br/>")' + '\n' + 'Session Timeout');
                                    location.href = '/AutoRSN';
                                    //alert('Session Timeout');
        </script>
    }
</section>



