@model IEnumerable<AutoRSN.Models.Openso>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">
    <meta charset="utf-8">
    <link href="http://code.jquery.com/ui/1.10.4/themes/humanity/jquery-ui.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/GenerateRSN.js"></script> <!-- custom script-->
    @*<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="signalr/hubs"></script>*@

    <script>

        $(document).ready(function () {
            $("#datepicker1").datepicker({ dateFormat: 'dd/mm/yy' });
            $("#datepicker2").datepicker({ dateFormat: 'dd/mm/yy' });

            $("#dialog-1").dialog({
                autoOpen: false,
            });

            $("#opener").click(function () {
                $("#dialog-1").dialog("open");
            });

            //var mainhub = $.connection.HubProxy;

            //mainhub.connection.hub.start().done(function () {

            //    mainhub.server.onConnected()
            //});

            //mainhub.client.sendHello = function (msg) {
            //    alert(msg)

            //};

        });

        function checkOption()
        {
           // alert("test");
            if ($("#overide").is(":checked"))
            {
                $("#forwarder").prop("disabled", false );
                $("#accountno").prop("disabled", false);
                $("#billto").prop("disabled", false);
                $("#servicetype").prop("disabled", false );
                $("#billto").css('backgroundColor', 'white');
                $("#servicetype").css('backgroundColor', 'white');
            }
            else
            {

                $("#forwarder").prop("disabled", true );
                $("#accountno").prop("disabled", true );
                $("#billto").prop("disabled", true );
                $("#servicetype").prop("disabled", true );
                $("#billto").css('backgroundColor', 'gray');
                $("#servicetype").css('backgroundColor', 'gray');
            }



        }


        function generate(obj) {

            //    var rsnCount = prompt("Please enter number of item limit for each RSN");
            //    while(isNaN(rsnCount))
            //{
            //        rsnCount = prompt("Please enter number of item limit for each RSN");
            //}



            // var remarks = $('#remarkTxt').val();
            // alert($('#remarkTxt').val());
            // alert($('#remarkTxt').val);

            if (s.size > 0) {

                var url = "";
                var paramStr = param.trim();
                if ($("#overide").is(":checked")) {

                    $("#forwarder").prop("disabled", false);
                    $("#accountno").prop("disabled", false);
                    $("#billto").prop("disabled", false);
                    $("#servicetype").prop("disabled", false);
                    $("#billto").css('backgroundColor', 'white');
                    $("#servicetype").css('backgroundColor', 'white');
                    url = '/AutoRSN/Openso/GenerateRSN?uniqueIDstr=' + param.trim() + '&identifier=1&shipmentDate=' + shipdate.value + '&remarks=' + encodeURIComponent($('#remarkTxt').val()) + '&forwarder=' + $('#forwarder').val() + '&accountno=' + $('#accountno').val() + '&billto=' + $('#billto').val() + '&servicetype=' + $('#servicetype').val(); // build new url
                    //alert($("#forwarder").val() + "<br/>" + $("#accountno").val()  + "<br\>" + $("#billto").val() + "<br\>" + $("#servicetype").val() + "<br\>");
                }


                else {
                    url = '/AutoRSN/Openso/GenerateRSN?uniqueIDstr=' + param.trim() + '&identifier=1&shipmentDate=' + shipdate.value + '&remarks=' + encodeURIComponent($('#remarkTxt').val()) + '&forwarder=' + '' + '&accountno=' + '' + '&billto=' + '' + '&servicetype=' + ''; // build new url
                }



                // alert(param);
                //var url = '/Openso/GenerateRSN?uniqueIDstr=' + param.trim(); // build new url

                //location.href = url;

                try {
                    location.href = url;


                }

                catch (err) {

                    alert(err);
                }
            }
            else {

                alert("Empty Selection..");
            }

            // return false;

        }

function editQuantity(id,statusid,rsn_no,uniqeID,user,mail)
{
   // alert(id);
  //  alert($('#'+id).html());
    var qty = prompt("Enter New Quantity", $('#' + id).html());
    var parameter = { quantity: String(qty).trim(), rsnno: rsn_no, uniqel: uniqeID };
    var name = '';
    var email = '';

    if (user != null) {
        name = String(user);
    }



    if (mail != null)
    {
        email = String(mail);
    }


    if (qty != null)
    {

        $.ajax({
            type: "GET",
            url: '@Url.Action("EditQuantityCall")',
            data: 'quantity=' + String(qty).trim() + '&rsnno=' + rsn_no + '&uniqel=' + uniqeID + '&user=' + name + '&email=' + email, // the data in form-encoded format, ie as it would appear on a querystring
            //contentType: "application/x-www-form-urlencoded; charset=UTF-8", // if you are using form encoding, this is default so you don't need to supply it
            dataType: "text", // the data type we want back, so text.  The data will come wrapped in xml
            async: false,
            success: function (data) {
                var errorsplit = data.split(':');

                // alert(data);

                if (errorsplit[0] == "true") {

                    var currentqty = parseInt($('#' + id).html());
                    var changedqty = parseInt(qty);

                    if (changedqty == 0) {
                        $('#' + statusid).html("ZERO");
                        $('#' + statusid).css("background-color", "red");

                    }

                    else {
                        $('#' + statusid).html("PARTIAL");
                        $('#' + statusid).css("background-color", "yellow");

                    }

                    $('#' + id).html(qty);

                }


                else
                    alert(errorsplit[1]);
            },
            error: function (xhr, textStatus, error) {
                alert(textStatus);
            }
        });


    }


}
    </script>

    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href`a="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">RSN</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">RSN</li>
        </ol>
    </div>
    <div class="topbar-right">

        <div class="ml15 ib va-m" id="sidebar_right_toggle">
            <div class="navbar-btn btn-group btn-group-number mv0">
                <button class="btn btn-sm btn-default btn-bordered prn pln">
                    <i class="fa fa-search fs22 text-default w"></i>
                </button>
            </div>
        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
    <!-- -------------- Column Center -------------- -->
    <div class="chute chute-center">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        <div class="col-md-push-12">
            <div class="panel panel-visible" id="PanelGridCustomer">
                <div class="panel-heading">
                    <div class="panel-title hidden-xs">
                        RSN
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="panel-title">
                        @Html.ActionLink("Create Manual RSN", "Create", new { }, new { @class = "btn btn-dark pull-left ph30" })
                    </div>
                </div>

                <div class="panel-body pn">
                    <span>Manual Upload by file (.txt - Tab Delimited)</span>
                    @using (Html.BeginForm("Upload", "Openso", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="file" name="FileUpload" />
                        <input type="submit" name="Submit" id="Submit" value="Upload" />

                    }
                </div>


                <section id="content" class="table-layout animated fadeIn">
                    <span>version 1.0</span>
                    <form role="form" action="" method="post">
                        <!-- -------------- Menu Block -------------- -->
                        <hr class="short">
                        <div class="allcp-form theme-primary">
                            <h5 class="pln">Filter RSN</h5>

                            <fieldset>
                                <div class="section">

                                    <div class="col-xs-2">
                                        <input type="text" name="FilterByCCMG" id="FilterByCCMG" class="form-control" size="5" width="5" placeholder="Enter RSN #">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" name="FilterByCCMG1" id="FilterByCCMG1" class="form-control" size="5" width="5" placeholder="Enter Cust Code">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" name="FilterByCCMG2" id="FilterByCCMG2" class="form-control" size="5" width="5" placeholder="Enter CLS Part #">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" name="FilterByCCMG3" id="FilterByCCMG3" class="form-control" size="5" width="5" placeholder="Enter PO #">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" name="FilterByCCMG4" id="FilterByCCMG4" class="form-control" size="5" width="5" placeholder="Enter SO #">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" name="FilterByCCMG5" id="datepicker1" class="form-control" size="5" width="5" placeholder="ship Date:from">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="text" name="FilterByCCMG6" id="datepicker2" class="form-control" size="5" width="5" placeholder="ship Date:to">
                                    </div>

                                    <div class="col-xs-2">
                                        <br />
                                        <br />
                                        @{

                                            List<SelectListItem> listItem = new List<SelectListItem>();
                                            //System.Diagnostics.Debug.WriteLine(Session["CustomerGroup"].ToString());
                                            List<AutoRSN.Models.PermissionHolder> permissionHolderList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<AutoRSN.Models.PermissionHolder>>(Session["PermissionList"].ToString());
                                            System.Diagnostics.Debug.WriteLine(Session["PermissionList"].ToString());
                                            AutoRSN.Models.PermissionHolder currentPermission = null;
                                            //string[] customerGroup = Newtonsoft.Json.JsonConvert.DeserializeObject<string[]>(Session["CustomerGroup"].ToString());
                                            foreach (AutoRSN.Models.PermissionHolder permissionHolder in permissionHolderList)
                                            {
                                                if (permissionHolder.Customer != "")
                                                {
                                                    listItem.Add(new SelectListItem
                                                    {
                                                        Text = permissionHolder.Customer,
                                                        Value = permissionHolder.Customer
                                                    });
                                                }
                                            }



                                        }

                                        @if (Session["SelectedCust"] != null)
                                        {
                                            int custNo = 0;
                                            foreach (SelectListItem item in listItem)
                                            {
                                                if (item.Value.Equals(Session["SelectedCust"].ToString()))
                                                {
                                                    item.Selected = true;
                                                    // string[] permission = Newtonsoft.Json.JsonConvert.DeserializeObject<string[]>(Session["PermissionList"].ToString());
                                                    // Session["Permission"] = permission[custNo];
                                                    for (int x = 0; x < permissionHolderList.Count; x++)
                                                    {
                                                        if (permissionHolderList[x].Customer.Equals(Session["SelectedCust"].ToString()))
                                                        {
                                                            currentPermission = permissionHolderList[x];
                                                            System.Diagnostics.Debug.WriteLine(currentPermission.Customer);
                                                            System.Diagnostics.Debug.WriteLine(currentPermission.Permission);

                                                            break;

                                                        }

                                                    }

                                                    // System.Diagnostics.Debug.WriteLine("PErmission for customer is ==> : " + custNo + ": " + item.Value + " : " + Session["Permission"].ToString());

                                                }

                                                custNo++;

                                            }

                                        }
                                        @Html.DropDownList("groupName", listItem, "Select Customer Group")
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                                <p><br> <button type="submit" id="searchbtn" class="btn btn-dark pull-right ph30" onclick="return searchValid()">Search</button> </br></p>
                                <script>

                                    function searchValid()
                                    {
                                        if ($("#datepicker1").val() != "") {
                                            if ($("#datepicker2").val() == "") {
                                                alert('Please select ship date:to');
                                                return false;
                                            }
                                            else {

                                                return true;
                                            }
                                        }


                                        if ($("#datepicker2").val() != "") {
                                            if ($("#datepicker1").val() == "") {
                                                alert('Please select ship date:from');
                                                return false;
                                            }
                                            else {
                                                return true;
                                            }
                                        }
                                    }


                                </script>
                            </fieldset>
                            <hr class="short">
                        </div>
                    </form>
                </section>

                <div class="panel-body p\n">
                    <form role="form" action="" method="post">
                        <div class="table-responsive">
                            @{ string uniqueIds = "";
                                foreach (AutoRSN.Models.Openso itemSO in Model)
                                {
                                    uniqueIds = itemSO.UNIQEL + ":";
                                    System.Diagnostics.Debug.WriteLine(itemSO.UNIQEL);
                                }

                                if (uniqueIds.Length > 0)
                                {
                                    uniqueIds = uniqueIds.Substring(0, uniqueIds.Length - 2);
                                    @Html.ActionLink(" Generate All RSN ", "GenerateRSN", new { uniqueIDstr = uniqueIds, identifier = "1" }, new { target = "_blank", @class = "btn btn-sm btn-default btn-bordered prn pln fa fs17 text-default w42" })
                                }

                            }

                            <input type="button" class="pull-right" id="genButton1" value="Generate Selected" />
                            <br /><br />
                            <table class="table table-hover table-bordered" id="datatable2" cellspacing="0" width="100%">
                                <thead>
                                    <tr>

                                        <th class="va-m">RSN #</th>
                                        <th class="va-m">Customer Name</th>
                                        <th class="va-m">CLS Part #</th>
                                        <th class="va-m">PO #</th>
                                        <th class="va-m">Sales Order #</th>
                                        <th class="va-m">Delivery Date</th>
                                        <th class="va-m">P.S QTY</th>
                                        <th class="va-m">So Qty</th>
                                        <th class="va-m">Shipment</th>
                                        <th class="va-m">Action</th>
                                        <th class="va-m">Status</th>
                                        <!-- <th class="va-m">Select <input id="selectAll" type="checkbox" onchange="onSelectAll()" /></th>
                                        -->
                                        <th class="va-m">Select </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <!-- -------------- from Opensocontroller -------------- -->
                                    @{
                                        int row = 1;
                                    }
                                    @foreach (var item in Model)
                                    {

                                        <tr>

                                            <td> @Html.DisplayFor(modelItem => item.RSNNO) </td> <!--  rsn no-->
                                            <td> @Html.DisplayFor(modelItem => item.KUNNR1) </td> <!-- cust name -->
                                            <td> @Html.DisplayFor(modelItem => item.MATNR) </td> <!-- cls part  -->
                                            <td> @Html.DisplayFor(modelItem => item.BSTNK) / @Html.DisplayFor(modelItem => item.POSEX) </td> <!-- po -->
                                            <td> @Html.DisplayFor(modelItem => item.VBELN) / @Html.DisplayFor(modelItem => item.POSNR) </td> <!-- sales order  -->
                                            <td> @Html.DisplayFor(modelItem => item.EDATU) </td> <!-- delivery date -->
                                            <td id="@("shipqtyID"+row)"> @Html.DisplayFor(modelItem => item.SHIPQTY) </td> <!-- qTY -->
                                            <td> @Html.DisplayFor(modelItem => item.OPENQTY) </td>



                                            @if (Convert.ToInt32(item.OPENQTY) == 0 || Convert.ToInt32(item.SHIPQTY) == 0)
                                            {
                                                <td id="@("Status"+row)" style="background-color:red;"> ZERO </td>}

                                            else if (Convert.ToInt32(item.SHIPQTY) < Convert.ToInt32(item.OPENQTY))
                                            {
                                                <td id="@("Status"+row)" style="background-color:yellow;"> PARTIAL </td> }

                                            else if (Convert.ToInt32(item.SHIPQTY) == Convert.ToInt32(item.OPENQTY))
                                            {
                                                <td id="@("Status"+row)" style="background-color:lawngreen;">FULL</td>
                                            }
                                            <div>
                                                <td>

                                                    @{
                                                        //System.Diagnostics.Debug.WriteLine(Session["Permission"].ToString());
                                                        if (currentPermission != null)
                                                        {
                                                            if (currentPermission.Permission.Equals("Display"))
                                                            {
                                                                //@Html.ActionLink(" ", "EDIT", new { MATNR = item.MATNR, RSNNO = item.RSNNO, EDATU = item.EDATU, UNIQEL = item.UNIQEL }, new { target = "_blank", @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-edit fs22 text-default w39" }) <span>|</span>
                                                                @Html.ActionLink(" ", "DETAILS", new { MATNR = item.MATNR, RSNNO = item.RSNNO, EDATU = item.EDATU, UNIQEL = item.UNIQEL }, new { target = "_blank", @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-search fs22 text-default w39" })

                                                                if (item.STATUS.Equals("Y"))
                                                                {
                                                                    //<input type="checkbox" onchange="onChanged(this)" value="
                                                                    //  @Html.DisplayFor(modelItem => item.UNIQEL) " />
                                                                }

                                                                if (!item.RSNNO.Equals("0")) // has rsn
                                                                {
                                                                    <span>|</span>
                                                                    string currentUrl = AutoRSN.Utility.Util.getWebUrl();
                                                                    string link = "/AutoRSN" + "/RSNPrintOut.aspx?reportNum=0&RSNNO=" + item.RSNNO;
                                                                    <a class="btn btn-sm btn-default btn-bordered prn pln fa fa-print fs22 text-default w39" href="@link"></a>
                                                                }

                                                            }

                                                            else if (currentPermission.Permission.Equals("Edit"))
                                                            {

                                                                //@Html.ActionLink(" ", "EDIT", new { MATNR = item.MATNR, RSNNO = item.RSNNO, EDATU = item.EDATU, UNIQEL = item.UNIQEL }, new { target = "_blank", @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-edit fs22 text-default w39" }) <span>|</span>
                                                                @Html.ActionLink(" ", "DETAILS", new { MATNR = item.MATNR, RSNNO = item.RSNNO, EDATU = item.EDATU, UNIQEL = item.UNIQEL }, new { target = "_blank", @class = "btn btn-sm btn-default btn-bordered prn pln fa fa-search fs22 text-default w39" })

                                                                if (!item.RSNNO.Equals("0")) // has rsn
                                                                {
                                                                    <span>|</span>
                                                                    string currentUrl = AutoRSN.Utility.Util.getWebUrl();
                                                                    string link = "/AutoRSN" + "/RSNPrintOut.aspx?reportNum=0&RSNNO=" + item.RSNNO;
                                                                    <a target="_blank" class="btn btn-sm btn-default btn-bordered prn pln fa fa-print fs22 text-default w39" href="@link"></a>
                                                                    <span>|</span>

                                                                    <input type="button" onclick='editQuantity("@("shipqtyID"+row)","@("Status"+row)","@item.RSNNO","@item.UNIQEL","@Session["Name"]","@Session["Email"]")' value="Edit" />
                                                                    @*string deleteCol = item.UNIQEL + ":" + item.RSNNO;
                                                                        <input type="button" onclick='deleteSO("@item.UNIQEL","@item.RSNNO")' value="DEL" />*@

                                                                }


                                                            }
                                                        }

                                                        row++;
                                                    }



                                                </td>
                                                <td>
                                                    <!-- status column -->
                                                    @{
                                                        if (item.STATUS.Equals("Y"))
                                                        {
                                                            <input type="button" value="UNBLOCKED" class="btn btn-default disabled" />
                                                        }
                                                        else
                                                        {

                                                            <input type="button" value="BLOCKED" class="btn btn-default disabled" />
                                                        }

                                                    }

                                                    <!-- <input type="button" value="No Report" class="btn btn-default disabled" /> -->

                                                </td>
                                                <td>
                                                    @{
                                                        if (item.STATUS.Equals("Y")) //block or unlock by item note
                                                        {
                                                            //if (Convert.ToInt32(item.OPENQTY) > 0 || Convert.ToInt32(item.SHIPQTY) > 0)
                                                            // {
                                                            if (Convert.ToInt32(item.OPENQTY) == 0 || Convert.ToInt32(item.SHIPQTY) == 0)
                                                            {
                                                                //<input type="checkbox" onchange="onChanged(this)" value="@Html.DisplayFor(modelItem => item.UNIQEL) " />
                                                            }
                                                            else
                                                            {
                                                                System.Diagnostics.Debug.WriteLine(Session["SelectedCust"]);
                                                                if (currentPermission.Permission.Equals("Edit"))
                                                                {
                                                                    if (item.RSNNO.Equals("0"))
                                                                    {
                                                                        <input type="checkbox" onchange="onChanged(this)" value="@Html.DisplayFor(modelItem => item.UNIQEL) " />

                                                                    }

                                                                }


                                                            }
                                                            //}

                                                        }
                                                    }

                                                </td>

                                            </div>
                                        </tr>



                                                        }
                                </tbody>

                            </table>
                        </div>
                        @Html.Hidden("val", 0)
                        <input type="button" id="genButton" value="Generate Selected" />
                        <!--  <input type="button" onclick="location.href = 'AutoRSN/RSNReport.aspx'" value="Test Report" /> -->
                        <!-- <input type="button" value="test Mail" onclick="sendMail()" /> -->

                    </form>

                    <style>
                        /* The Modal (background) */
                        .modal {
                            display: none; /* Hidden by default */
                            position: fixed; /* Stay in place */
                            z-index: 1; /* Sit on top */
                            left: 0;
                            top: 0;
                            width: 100%; /* Full width */
                            height: 100%; /* Full height */
                            overflow: auto; /* Enable scroll if needed */
                            background-color: rgb(0,0,0); /* Fallback color */
                            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                        }

                        /* Modal Content/Box */
                        .modal-content {
                            background-color: #fefefe;
                            margin: 15% auto; /* 15% from the top and centered */
                            padding: 20px;
                            border: 1px solid #888;
                            width: 20%; /* Could be more or less, depending on screen size */
                        }

                        /* The Close Button */
                        .close {
                            color: #aaa;
                            float: right;
                            font-size: 28px;
                            font-weight: bold;
                        }

                            .close:hover,
                            .close:focus {
                                color: black;
                                text-decoration: none;
                                cursor: pointer;
                            }
                    </style>

                    <!-- Trigger/Open The Modal
                    <button id="myBtn">Open Modal</button> -->
                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Select shipment date</p>
                            <span><input id="shipdate" type="date" onchange='dateChange(this)' /></span>
                            <p>Remark: </p>
                            <input type="text" id="remarkTxt" /><br /><br />

                            <input id="overide" type="checkbox" value="Override Options" onclick="checkOption();" /><span>Override Options</span> <br />
                            <span style="color:red">This option will override below data to currently all choosen items.</span> <br /><br />
                            <input type="text" id="forwarder" placeholder="Forwarder" disabled /><br /><br />
                            <input type="text" id="accountno" placeholder="Account #" disabled /><br /><br />
                            <span>Bill To :</span>
                            <select id="billto" disabled style="background-color:gray">
                                <option value="Bill to recipient">Bill to recipient</option>
                                <option value="Bill to 3rd Party">Bill to 3rd Party</option>
                                <option value="Bill to Account">Bill to Account</option>
                            </select> <br />
                            <span>Service Type :</span>
                            <select id="servicetype" disabled style="background-color:gray">
                                <option value="Normal">Normal</option>
                                <option value="Express">Express</option>
                            </select>
                            <br /><br />
                            <p> <input type="button" onclick='generate(this)' value="Generate" /></p>
                        </div>

                    </div>

                    <!-- The Modal -->
                    <div id="uploadModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Upload Manual RSN</p>
                            <span><input type="file" /></span>
                            <p> <input type="button" onclick='generate(this)' value="Generate" /></p>
                        </div>

                    </div>




                    <script>
     var modal = document.getElementById('myModal');
     var uploadModal = document.getElementById('uploadModal');


     // Get the button that opens the modal
     var btn = document.getElementById("genButton");
     var btn1 = document.getElementById("genButton1");
     // Get the <span> element that closes the modal
     var span = document.getElementsByClassName("close")[0];

     // When the user clicks on the button, open the modal
     btn.onclick = function () {
         modal.style.display = "block";
     }
     btn1.onclick = function () {

         modal.style.display = "block";



     }


     // When the user clicks on <span> (x), close the modal
     span.onclick = function () {
         modal.style.display = "none";
     }

     // When the user clicks anywhere outside of the modal, close it
     window.onclick = function (event) {
         if (event.target == modal) {
             modal.style.display = "none";
         }
     }

                    </script>
                </div>
            </div>

        </div>
    </div>

</section>


